<div class="products">
  <div class="container">
    <div class="row">
        <div class="col-md-2">
          <div class="panel panel-default">
          <div class="panel-heading">Categories</div>          <!-- List group -->
          <ul class="list-group">
          <a href="" class="list-group-item">Dresses</a>
          </ul>
        </div>
        </div>
        <div class="col-md-10">
          <div ng-repeat="product in products" class="col-md-3">
              <div class="product-image">
                <img class="img-responsive img-rounded" ng-src="images/{{product.pr_img[0]}}"  alt="">
              </div>
              <div class="product-info text-center">
                <p class="product-title">{{product.pr_product_name}}</p>
                <p><strong>{{product.pr_price | currency}}</strong></p>
                <a href="/product/{{product._id}}" class="accent">Buy Now</a>
              </div>
          </div>
        </div>

    </div>
</div>
